{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 56",
          "last 2 edge versions",
          "last 2 firefox versions",
          "last 2 safari versions",
          "last 2 iOS versions",
          "last 2 and_chr versions"
        ]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
