{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 70",
          "last 1 edge versions",
          "last 1 firefox versions",
          "last 1 safari versions",
          "last 1 iOS versions",
          "last 1 and_chr versions"
        ]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]]
  ],
  "comments": true
}
