flex-horz(horz-align, vert-align)
  display: flex
  flex-direction: row
  align-items: vert-align
  justify-content: horz-align

flex-vert(vert-align, horz-align)
  display: flex
  flex-direction: column
  align-items: horz-align
  justify-content: vert-align
