table
  border-collapse: collapse
  td, th
    padding: .5em 2ch
  th
    font-weight: bolder
    color: #878d99
  thead
    border-bottom: 1px solid #e6ebf5
    tr
      td, th
        text-align: left
  tbody
    tr
      &:not(:last-child)
        border-bottom: 1px solid #e6ebf5