table
  border: 1px solid #dfe6ec
  border-collapse: collapse
  td, th
    padding: .5em 2ch
  thead
    border-bottom: 1px solid #dfe6ec
    background-color: #eef1f6
    tr
      td, th
        text-align: left
  tbody
    tr
      &:not(:last-child)
        border-bottom: 1px solid #dfe6ec
